<?xml version='1.0' encoding='utf-8'?>
<widget id="com.micaelil" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CoronaUpdates</name>
    <description>
    A simple app that gives corona updates
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
      Micael Illos
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
 <icon src="assets/mipmap-hdpi/icon.png" density="mdpi" />
    <icon src="assets/mipmap-mdpi/icon.png" density="ldpi" />
    <icon src="assets/mipmap-xhdpi/icon.png" density="hdpi" />
    <icon src="assets/mipmap-xxhdpi/icon.png" density="xhdpi" />
    <icon src="assets/mipmap-xxxhdpi/icon.png" density="xxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
